# Ignore artifacts
build/
dist/
*.log

# Ignore node_modules
node_modules/

# Ignore configuration files
*.config.js
*.config.ts

# Ignore local environment files
.env
*.local

# Ignore test coverage files
coverage/

# Ignore IDE-specific files
.vscode/
.idea/
